.services {

	&__slider {
		position: relative;
	}
}



.services-swiper {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 0 40px;
	position: relative;
	z-index: 1;
	width: 100%;

	@include mq("tablet-2") {
		padding: 0;
	}

	&__wrapper {
		width: 100%;
		margin-bottom: 60px;
		height: 100%;
	}

	&__slide {
		// box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.25);
		height: 100%;

		// max-width: 230px;
		@include mq("tablet-2") {
			// max-width: 230px;
		}
	}

	&__nav {
		position: absolute;
		left: 0;
		top: 45%;
		width: 100%;
		color: #fff;
		display: block;

		@include mq("tablet-2") {
			display: none;
		}
	}

	&__prev {
		left: 0;
	}

	&__next {
		right: 0;
	}

	&__prev,
	&__next {
		color: #fff;
	}
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
	height: 100%;
}

.swiper-autoheight {
	height: 100%;
}

.swiper-pagination {}


.swiper-pagination-bullet {
	background-color: #e5e5e5;
	margin: 0 10px;
	width: 12px;
	height: 12px;
	opacity: .5;
}

.swiper-pagination-bullet-active {
	background-color: $accent;
	opacity: 1;
}