$white: #ffffff;
$black: #000000;
$gray: #ccc;

$accent:#DD5157;
$cardColor:#31352B;

%open-sans {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

%roboto-400 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

%cabin-400 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
}

%rubik-400 {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}

%rubik-500 {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
}

%rubik-600 {
	font-family: "Rubik", sans-serif;
	font-weight: 600;
}

%title-font {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.3em;
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
}